.hcTable {
    border-color:white !important; 
    border-width:0px !important;
    border-spacing: 1px !important;
}

th.colHeader > div {
  background-color:#f0f0f0;
  text-align: center;
}

th.rowHeader > div {
  background-color:#f0f0f0;
  height: 100%;
  width: inherit;
  display: flex;
  justify-content: center;
  white-space: nowrap; 
  writing-mode: vertical-lr;
}
